{% extends 'front/container_fluid.html.twig' %}

{% block content %}
    <div class="col-md-8">
        <div class="container-fluid">
            {% block content2 %}{% endblock content2 %}
        </div>
    </div>
{% endblock content %}