{% extends 'front/container.html.twig' %}

{% block content %}
    <h1>Prihlásenie</h1>

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {{ form(loginForm) }}

    <a href="{{ path('front_register') }}">Ešte nemáte účet? Zaregistrujte sa tu!</a>
{% endblock content %}
